# Q1

In [ ]:
# A database is an organized collection of data stored and accessed electronically. Small databases can be stored on a file system, 
# while large databases are hosted on computer clusters or cloud storage.

In [ ]:
#  SQL                                                                   NO SQL
# RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)                          Non-relational or distributed database system.
# These databases have fixed or static or predefined schema              They have a dynamic schema
# These databases are not suited for hierarchical data storage.          These databases are best suited for hierarchical data storage.
# These databases are best suited for complex queries                    These databases are not so good for complex queries
# Vertically Scalable                                                    Horizontally scalable
# Follows ACID property                                                  Follows CAP(consistency, availability, partition tolerance)

# Q2

In [ ]:
# DDL is data definiton language

In [ ]:
# CREATE TABLE Persons ( PersonID int,LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255));

In [ ]:
# DROP TABLE Persons

In [ ]:
# ALTER TABLE Customers ADD Email varchar(255);

In [ ]:
# Truncate ccommand deletes the data inside thr table bot the table
# TRUNCATE Persons

# Q3

In [ ]:
# DML is data manipulation language

In [ ]:
# INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
# VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');

In [ ]:
# UPDATE Customers
# SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
# WHERE CustomerID = 1;

In [ ]:
# DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';

# Q4

In [ ]:
# DQL is data query language

In [ ]:
# SELECT * FROM accounts

# Q5

In [ ]:
# A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing 
# table column or a column that is specifically generated by the database according to a defined sequence.

In [ ]:
# A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a 
# column (or columns) that references a column (most often the primary key) of another table.

# Q6

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)

# Cursor()

In [ ]:
# It is an object that is used to make the connection for executing SQL queries. It acts as middleware between SQLite database connection
# and SQL query. It is created after giving connection to SQLite database.

# Execute()

In [ ]:
# It is used to execite the wtitten command

# Q7

In [ ]:
#  1 FROM