# Q1

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
data = {'Amount_of_time_students_study':[1,2,3,4,5,6],'Final_exam_score:':[75,80,85,90,95,100]}

In [3]:
df = pd.DataFrame(data = data)

In [4]:
df.head()

   Amount_of_time_students_study  Final_exam_score:
0                              1                 75
1                              2                 80
2                              3                 85
3                              4                 90
4                              5                 95

In [5]:
df.corr(method = 'pearson')

,Amount_of_time_students_study,Final_exam_score:
Amount_of_time_students_study,1.0,1.0
Final_exam_score:,1.0,1.0

In [6]:
# Since it is 1 so it is positive correlation. Amount of time students study is highly correlated with Final exam score.

# Q2

In [7]:
data = {'Amount_of_sleep_individual_get':[5,6,7,8,9],'overall_job_satisfaction:':[7,4,6,9,2]}

In [8]:
df = pd.DataFrame(data = data)

In [9]:
df.corr(method = 'spearman')

,Amount_of_sleep_individual_get,overall_job_satisfaction:
Amount_of_sleep_individual_get,1.0,-0.3
overall_job_satisfaction:,-0.3,1.0

In [10]:
# It shows negative correlation. As the mount of sleep increases the overall job satisfaction decreases.

# Q3

In [11]:
data = {'Number_of_hours_exercise_per_week':[1,2,3,4,5],'BMI:':[10,9,8,7,6]}

In [12]:
df = pd.DataFrame(data = data)

In [13]:
df.corr(method = 'spearman')

                                   Number_of_hours_exercise_per_week  BMI:
Number_of_hours_exercise_per_week                                1.0  -1.0
BMI:                                                            -1.0   1.0

In [14]:
# It shows negative correlation. It means when the number of hours exercise per week increaes the BMI decreaes.

# Q4

In [15]:
data = {'Number_of_hours_person_watch_tv':[1,2,3,4,5],'Level_of_physical_activity:':[10,9,8,7,6]}

In [16]:
df = pd.DataFrame(data = data)

In [17]:
df.corr(method = 'pearson')

,Number_of_hours_person_watch_tv,Level_of_physical_activity:
Number_of_hours_person_watch_tv,1.0,-1.0
Level_of_physical_activity:,-1.0,1.0

In [18]:
# It shows negative correlation. It means when the Number_of_hours_person_watch_tvk increaes the BMI Level_of_physical_activity.

# Q5

In [24]:
data = {'Number_of_sales_calls_made_per_day':[10,20,30,40,50],'Number of sales made per week':[50,100,150,200,250]}

In [25]:
df = pd.DataFrame(data = data)

In [26]:
df.corr(method = 'pearson')

,Number_of_sales_calls_made_per_day,Number of sales made per week
Number_of_sales_calls_made_per_day,1.0,1.0
Number of sales made per week,1.0,1.0